<%= form_for Comment.new do |f| %>

  <div class="form-group">
    <br>
    <%= f.text_field :description, placeholder:' Comment' %>
  </div>

  <div class="form-group">
    <%= f.text_field :post_id, value: @post.id, class:'d-none'%>
  </div>

  <div class="form-group">
    <%= f.text_field :user_id, value: current_user.id, class:'d-none '%>
  </div>

  <div class="text-center">
    <%= f.submit 'Comment', class: 'btn btn-primary'%>
  </div>

<% end %>