<%= form_for Post.new do |f| %>



<button type="button" class="new-butt" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap"><img class="new-butt" src="https://image.flaticon.com/icons/png/128/1057/1057061.png"></button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="form-group m-0">
              <%= f.file_field :image, class: 'c' %>
            </div>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description</label>
            <%= f.text_field :description, class: 'disc', placeholder:' Description' %>
            <div class="form-group" style="text-align: center">
              <%= f.text_field :user_id, value: current_user.id, class:'d-none '%>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit 'Create Post', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<% end %>